/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}
button {
  font-family: 'Raleway', sans-serif;
  padding: 8px;
  background: #F44336;
  width: 100px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  font-size: 14px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  background: #03A9F4;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 15;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
h3 {
  color: white;
  font-weight: 400;
  font-size: 26px;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.37);
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  bottom: 0;
}
.accorDesc.closes {
  display: none;
}
.accordian {
  background: #828080;
  margin-bottom: 3px;
  width: 500px;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: column;
}
.accordian .header {
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.accordian .header h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.accordian .header h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.accordian .body {
  background: #b1b1b1;
  padding: 12px;
  transition: .3s ease-out;
}
.body p {
  color: #fff !important;
  font-weight: 300;
  font-size: 14px;
}
.ac {
  margin: 20px;
}
.fa {
  color: #fff;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  width: 530px;
  padding: 8px;
  height: 41px;
  font-size: 18px;
  margin: 15px;
  border-radius: 4px;
  border: 0;
}
.youtubePlayer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: rgba(214, 214, 214, 0.34);
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 4px;
  padding: 15px;
  padding-top: 37px;

}
.youtubePlayer > div {
  width: 217px;
  text-align: center;
}
.serach {
  background: #e8e8e8;
  text-align: center;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: -1px;
}
.serach h2 {
  margin-top: 20px;
  margin: 10px;
}
.serach h2 > span {
  color:red;
}
