/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}
button {
  font-family: 'Raleway', sans-serif;
  padding: 8px;
  background: #F44336;
  width: 100px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  font-size: 14px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  background: #03A9F4;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 15;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
h3 {
  color: white;
  font-weight: 400;
  font-size: 26px;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.37);
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  bottom: 0;
}
.accorDesc.closes {
  display: none;
}
.youtubePlayer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.youtubePlayer > div {
  width: 217px;
  text-align: center;
}
